body {
    padding: 0px;
    margin: 0px;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 5vh auto;
    padding: 20px; /* Reduzi o valor do padding para melhor responsividade */
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    main {
        width: 100%; /* Define a largura para 100% em telas menores */
        margin: 2vh auto; /* Ajusta a margem vertical */
        padding: 10px; /* Reduz ainda mais o padding para telas menores */
    }
}

table{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;

}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
header {
 background-color: blueviolet;
 color: white;
 text-align: center;
 padding-bottom: 10px;
 padding-top: 10px;
 margin-bottom: 50px;
}

th, td {
    padding: 10px 80px;
}

th{
    background-color: rgb(115, 14, 161);
    color: white;
}

tr td {
    background:#FFF;
}
tr:hover td {
    background:#CCC;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Ajuste a altura conforme necessário */
    background-color: var(--footer-bg-color);
    text-align: center;
    line-height: 50px; /* Centraliza verticalmente o conteúdo do footer */
}
.botaoEditar{
    background-color: rgb(14, 161, 14);
    color: white;
    border-style: none;
}
.botaoDeletar{
    background-color: red;
    color: white;
    border-style: none;
}

button:hover{
    cursor: pointer;
}